@import url('https://fonts.googleapis.com/css?family=Muli:200');

// colors
$bg: #fffffb;
$gray: #363838;
$accent: #d67b43;

$top-bar-height: 80px;

// Default
* {
  // margin: 0;
  padding-left: 0;
  padding-right: 0;
}

html, body {
  font-family: 'Muli', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $gray;
  background-color: $bg;
  margin: 0;
}

h3 {
  color: $gray;
}

h1 {
  color: $gray;
}

p {
  color: $gray;
}

a {
  text-decoration: none;
  color: $accent;
}

ul {
  list-style: none;
}